.idea
/tensorflow/chatgpt/book_recommendation/.ipynb_checkpoints/
/tensorflow/.ipynb_checkpoints/
/tensorflow/recomendLearning/projects/.ipynb_checkpoints/
/tensorflow/recomendLearning/projects/wines/.ipynb_checkpoints/
/tensorflow/coursera/statistics/practice/data/
